*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr;
}

#root {
  min-height: 100%;
  display: flex;
}