.inventory__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 5px;
  overflow: hidden;
  background-color: rgb(245, 214, 191);
  border: 5px solid rgb(70, 35, 7);
  cursor: pointer;

  &:focus {
    outline: 5px solid yellow;
  }

  @media(max-width:500px) {
    width: 70px;
    height: 70px;
  }
}

.inventory__item-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inventory__item-picture {
  width: 60px;
  height: auto;
  object-fit: 90%;

  @media(max-width:500px) {
    width: 50px;
  }
}

.inventory__item-title {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight: bold;
}

.inventory__item-cloth {
  display: none;
}

.inventory__item--active {
  position: absolute;
  top: 457px;
  right: 357px;
  width: 65px;
  height: 65px;
  background-color: transparent;
  overflow: visible;
  z-index: 1;
  border: none;

  @media(max-width:768px) {
    top: 458px;
    right: 193px;
  }

  .inventory__item-picture {
    width: 45px;
  }

  .inventory__item-cloth {
    display: flex;
    position: absolute;
    top: 3px;
    left: 98px;
    width: 113px;
    height: 113px;
    z-index: 1;

    @media(max-width:768px) {
      left: 70px;
    }
  }
}
